<div class="jumbotron mt-4">
  <h1 class="display-4 title">NoteBook</h1>
  <p class="lead">Software of Application — Diary of Notes</p>
  <hr>
  <p>App created by MediasoftDev.</p>
  <a class="btn btn-primary btn-lg" href="/notes" role="button">Learn more</a>
</div>