<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">EDIT NOTE</h3>
            </div>
            <div class="card-body">
                <form action="/notes/update/{{note._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" value="{{note.name}}" name="name" placeholder="Title..." class="form-control">
                    </div>
                     <div class="form-group">
                        <label for="task">Task:</label>
                        <textarea name="task" class="form-control">{{note.task}}</textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-dark btn-block btn-lg" value="UPDATE NOTE">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>