<div class="row">
    <div class="col-md-6 mt-4">
        <img src="/uploads/{{user.avatar}}" alt="{{user.fullName}}" style="max-width: 100%;">
    </div>
    <div class="col-md-6 mt-4">
        <div class="card">
            <div class="card-body">
                <h1>{{user.fullName}}</h1>
                <h3><i class="fas fa-envelope"></i> {{user.email}}</h3>
                <h3><i class="fas fa-football-ball"></i>
                {{#switch user.role}}
                    {{#case 'ADMIN'}}<span style="color: red;">ADMIN</span>{{/case}}
                    {{#case 'EDITOR'}}<span style="color: gold;">EDITOR</span>{{/case}}
                    {{#case 'USER'}}<span style="color: green;">USER</span>{{/case}}
                {{/switch}}
                </h3>
            </div>
        </div>
    </div>
</div>