<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 login">
            <div class="card-header">
                <h2 class="text-center">SIGNIN</h2>
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    
                            
                            
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input name="email" type="email" placeholder="E-Mail..." class="form-control" autofocus/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input name="password" type="password" placeholder="Password..." class="form-control"/>
                    </div>
                
                
            
                    
                    <div class="form-group">
                        <input type="submit" value="SIGN IN" class="btn btn-dark btn-block btn-lg">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>